* {box-sizing:border-box;}

/* connon style */
body {
  padding: 0; /* Убираем поля в боди */
  margin: 0;
  font-family: arial;
}
.container {
  background: #ECEBEB;
  width: 1200px;
  margin: auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
.contant {
  clear: both;
}
.col {padding: 15px;}
/* header */
.logo, .menu, .phone {
  display: inline-block;
  float: left;
}
.logo {width: 20%;}

.contant {border-top: solid thin #ccc;}

.menu {width: 60%; text-align: center}
.phone {width: 20%;}
.menu ul {
  padding: 0;
  margin: 15px 0 0 0; /* увеличиваем только верхнее поле */
}
.menu ul li {display: inline;}
.menu ul li a {
  display: inline-block;
  background: #5AAAD7;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none; /* убираем подчёркивания */
  text-transform: uppercase;
  color: #000;
  transition: 0.5s;
}
.menu ul li a:hover, .menu ul li a.active {
  color: #fff;
  background: #0566D7;
}
.phone {
  font-size: 22px;
  padding-top: 42px;
}
/* contant */
.main-pic {
  width: 100%;
  height: auto;
}
/* footer */
.footer {
  background: #555;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0; /* прижать к низу */
}
/* contacts */
.contacts {
  list-style-type: none; /* убираем точки */
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 250%;
}

.icon {padding-left: 40px;}
.address-icon {background: url(img/pin.png)   left center / 32px no-repeat;}
.phone-icon   {background: url(img/phone.png) left center / 32px no-repeat;}
.mail-icon    {background: url(img/email.png) left center / 32px no-repeat;}

.map {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 50px;
}

/* about */
.clear {clear: both;}
.text-center {text-align: center;}
.about-text, .about-pic {
  width: 50%;
  float: left;
}
.about-pic img, .service-pic img {
  max-width: 100%;
  height: auto;
}
/* advants */
.advant-col {
  float: left;
  width: 33.3%;
  font-size: 20px;
  line-height: 120%;
  font-weight: bold;
}
.advant-col img {
  max-width: 100px;
  height: auto;
}

/* service */
.service-pic, .service-text {
  display: inline-block;
  float: left;
}
.service-row {
  padding-bottom: 30px;
}
.service-pic {
  width: 30%;
  padding-top: 15px;
}
.service-text {width: 70%;}
.service-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}
.service-text p {
  font-size: 16px;
  line-height: 150%;
}
.service-price {
  color: #F90707;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
}

/* form */

.contacts-list, .contacts-form {
  display: inline-block;
  float: left;
  width: 50%;
}
.contacts-form {
  background: #fafafa;
  padding: 30px;
  border-radius: 8px;
}
input {
  padding: 15px;
  height: 42px;
}
.user-field {
  width: 300px;
}
.text-field {
  width: 100%;
  height: 100px;
  resize: vertical;
  min-height: 50px;
  padding: 15px;
}
.form-btn {
  background: #5AAAD7;
  color: #000;
  border-radius: 4px;
  border:none;
  padding: 0 50px;
  height: 42px;
  font-size: 16px;
  transition: .5s;
  cursor: pointer;
}
.form-btn:hover {
  color: #fff;
  background: #0566D7;
}

/* news */
.news-item {
  background: #fff;
}
.news-wrap {
  width: 33.33%;
  float: left;
  display: inline-block;
}
.news-item img {
  width: 100%;
  height: auto;
}
.news-item-text {
  padding: 15px;
}
.news-item-date {
  font-size: 13px;
  line-height: 16px;
  color: #939393;
}
.news-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.news-item-excerpt {
  font-size: 16px;
  line-height: 19px;
}
